body{
    font-family: Arial;
    background-color: #f0f8ff;
    text-align: center;
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
h1,h2{
    color: darkgreen;
}